@media (max-width: 991px) {
    .header {
        background-color: #FEFBE7;
    }
    .advertising__flexbox {
        flex-direction: column;
    }
    .projects__img {
        max-width: 150px;
        right: 0;
        top: 0;
    }

    .advertising__video {
        display: none;
    }

    .advertising__video-991 {
        display: block;
    }
    .advertising__flexbox div {
        width: 100%;
    }
    .advertising__flexbox iframe {
        width: 100%;
        height: 448px;
    }
    .news-page__img {
        display: none;
    }
    .news-page__img-991 {
        display: block;
    }
    .news-page__title {
        max-width: unset;
    }
    .news-page__text {
        max-width: unset;
    }
    .news-page__date {
        display: block;
        text-align: right;
    }
    .projects__arrow {
        display: none;
    }
    .projects__stars {
        display: none;
    }
    
}

@media (max-width:768px) {
    .container {
        padding: 0px 20px;
    }
    .header__nav {
        gap: 10px;
    }
    .hero__bg-1, .hero__bg-2 {
        display: none;
    }
    .hero__swiper-borders {
        border: unset;
        border-bottom: unset;
        height: unset;
        box-shadow: none;
    }
    .hero__button-next:after, .hero__button-prev:after {
        background-size: contain;
        width: 25px;
        height: 50px;
    }
    
    .hero__pagination {
        display: block;
        z-index: 5;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        background: #1D1A31;
        width: 10px;
        height: 10px;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        background-color: #F7F7F7;
    }
    .hero {
        padding-bottom: 0px;
    }
    .ReklamaBlog {
        padding-top: 0;
    }
    .acc {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .acc__title {
        margin-bottom: 40px;
    }
    .adv__block {
        border: unset;
        
    }
    .adv__block-768 {
        display: block;
    }
    .adv__socket {
        grid-template-columns: repeat(2, 1fr);
    }
    .adv__block_last {

font-size: 17px;
font-weight: 400;
line-height: 22px;
text-align: center;
border: 1px solid #1D1A31;
background-color: #F6C745;
box-shadow: 2px 2px 0px 0px #2A2D22;
display: flex;
flex-direction: row;
gap: 15px;
padding: 7px 0;
width: 100%;
grid-column-end: 3;
grid-column-start: 1;

    }
  
    .adv__block_last svg {
        width: 25px;
        margin-top: unset;
    }
    .adv {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .adv__block__768-none {
        display: none;
    }
    .music {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .movies {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .acc-block-2 {
        flex-basis: unset;
    }
    .music-library__block:hover img {
        transform: none;
    }
    .acc-block {
        flex-direction: column;
    }
    .rules__icon {
        display: none;
    }
    .rules {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer__flexbox {
        flex-direction: column;
        
    }
    .footer__adress {
        max-width: unset;
    }
    .modal__input {
        max-width: unset;
    }
    .news-page__flexbox {
        margin-bottom: 100px;
    }

}

@media (max-width: 576px) {
    .header {
        margin-bottom: 100px;
        padding: 0;
    }
    .news-button-next {
        width: 25px;
        height: 50px;
        top: calc(50% - 25px);
        background-size: contain;
    }
    
.news-button-prev {
    width: 25px;
    height: 50px;
    top: calc(50% - 25px);
    background-size: contain;
  }

    .accordion-body {
        max-width: unset;
    }
    .title {
        font-size: 35px;
        font-weight: 400;
        line-height: 45px;
        
        
            }
    .logo {
        max-width: 50px;
    }
    .button, .header__link {
font-size: 17px;
font-weight: 400;
line-height: 22px;


    }
    .project__error {
font-size: 23px;
font-weight: 400;
line-height: 28px;


    }
    .adv__title {
        margin-bottom: 40px;
    }
    .adv__subtitle {
font-size: 17px;
font-weight: 400;
line-height: 22px;
margin-bottom: 5px;

    }
    .adv__year {
        font-size: 17px;
font-weight: 400;
line-height: 22px;
    }
    .hover-icon {
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
        left: calc(50% - 25px);

    }
    .movies__season {
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
    }
    .adv__socket {
        gap: 20px;
    }
    .adv__block_last {
        margin-top: 20px;
    }
    .music-library__block img {
        max-width: 145px;
    }
    .music-library__block {
        min-height: 50px;
    }
    .music-library {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .rules__text {
font-size: 17px;
font-weight: 400;
line-height: 22px;
margin-bottom: 60px;

    }
    .news__slide {
        max-width: 280px;
    }
    .news__block {
        max-width: 280px;
    }
    .news__date {
        top: 15px;
        left: 15px;
font-size: 12px;
font-weight: 400;
line-height: 15px;
padding: 5px 0px;
max-width: 74px;

    }
    .news__text {

font-size: 17px;
font-weight: 400;
line-height: 22px;
padding: 10px;
width: calc(100% - 20px);

    }
    .news {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .footer__flexbox {
        gap: 20px;
    }
    .footer__contact {

font-size: 23px;
font-weight: 400;
line-height: 28px;
margin-bottom: 15px;

    }
    .footer__mail {
font-size: 17px;
font-weight: 400;
line-height: 22px;
margin-bottom: 10px;

    }
    .footer__adress {
font-size: 17px;
font-weight: 400;
line-height: 22px;


    }
    .footer {
        padding: 20px 0;
    }
    .footer__social {
        max-width: 40px;
    }
    .modal-content {
        padding: 20px;
    }
    .modal__title {
font-size: 28px;
font-weight: 700;
line-height: 35px;
margin-bottom: 30px;
    }
    .modal__form {
        grid-template-columns: repeat(1, 1fr);
    }
    .modal__textarea {
        grid-column-start: 1;
    }
    .modal__textarea {
        min-height: 160px;
    }
    .modal__input {
        height: 42px;
    }
    .modal__form {
        margin-bottom: 30px;
    }
    .modal__text {
font-size: 23px;
font-weight: 400;
line-height: 28px;
margin-bottom: 30px;


    }
 
    .modal__input::placeholder {

      
font-size: 17px;
font-weight: 400;
line-height: 22px;

        
        } 
        .acc__title {
font-size: 28px;
font-weight: 700;
line-height: 35px;
margin-bottom: 15px;

        }
        .acc__link {
font-size: 23px;
font-weight: 400;
line-height: 28px;
margin-bottom: 15px;

        }
        .acc__count {
font-size: 23px;
font-weight: 400;
line-height: 28px;
margin-bottom: 15px;

        }
        .acc__text {
font-size: 23px;
font-weight: 400;
line-height: 28px;
margin-bottom: 5px;

        }
        .acc__paragraph {
font-size: 17px;
font-weight: 400;
line-height: 22px;
margin-bottom: 20px;

        }
        .acc__btn {
            max-width: 215px;
font-size: 17px;
font-weight: 400;
line-height: 22px;


        }
        .fonoteka__text {

font-size: 17px;
font-weight: 400;
line-height: 22px;
margin-bottom: 30px;

        }
        
        .fonoteka__form .input-group {
            grid-column-start: 1;
        }

        .advertising__bread-crumbs {
            display: none;
        }
        .advertising__title {
font-size: 28px;
font-weight: 700;
line-height: 35px;
margin-bottom: 30px;

        }

        .advertising__flexbox iframe {
            height: 211px;
            margin-bottom: 30px;
        }

        .advertising__descr-title {
            font-size: 17px;
            line-height: 22px;
        }

        .advertising__descr-name {
            font-size: 17px;
            line-height: 22px;
        }
        .advertising__flexbox {
            margin-bottom: 100px;
        }
        .advertising__subtitle {
font-size: 23px;
font-weight: 400;
line-height: 28px;
margin-bottom: 20px;


        }
        .advertising {
            padding-bottom: 100px;
        }
        .advertising__slide {
            max-width: 150px;
        }
        .film__slide  {
            max-width: 150px;
        }
        .news-page__title {
font-size: 28px;
font-weight: 700;
line-height: 35px;
margin-bottom: 30px;

        }
        .news-page__img-991 {
            height: 257px;
            margin-bottom: 30px;
        }
        .news-page__text {
font-size: 17px;
font-weight: 400;
line-height: 22px;
margin-bottom: 30px;

        }
        .news-page__date {
font-size: 12px;
font-weight: 400;
line-height: 15px;


        }
        .error {
            padding: 50px 0 100px;
        }
        
        .error__block {
            padding: 0;
            border: unset;
        }
        
        .error__text {
font-size: 23px;
font-weight: 400;
line-height: 28px;
margin-bottom: 20px;
           
        
        }
        
        .error__btn {
            max-width: unset;
        }
        .projects__text {
font-size: 17px;
font-weight: 400;
line-height: 22px;
margin-bottom: 60px;

        }
        .projects__img {
            max-width: 150px;
            right: 0;
            top: -70px;
        }
        .projects__btn {
            margin-bottom: 100px;
        }
        .project__nav-link {
            
font-size: 23px;
font-weight: 400;
line-height: 28px;


        }
        .project__nav {
            display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 80px;
            flex-wrap: wrap;
            gap: 30px 20px;
            justify-content: center;
        }
        .project__filter-block {
            gap: 10px;
        }
        .project__filter {
padding: 5px 15px;
font-size: 17px;
font-weight: 400;
line-height: 22px;


        }
        .active {
            border-bottom: 2px solid #F6C745;
        }
        .projects__socket {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        .project__tab {
            border-bottom: unset;
        }
}